@font-face {
    font-family: 'MAGI-Matisse';
    src: url('../fonts/MatissePro-EB.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html {
    background: repeating-linear-gradient(45deg, rgb(0 0 0) 0px, rgb(0 0 0) 20px, #140b02 20px, #140b02 40px);
    min-height: 100vh;
}

body {
    margin: 0;
    font-family: sans-serif;
}

.system {
    background: black;
    border: 2px solid #ff8d00;
    padding: 5px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 0;
    box-sizing: border-box;
}

.left-panel {
    width: 60%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #ff8d00;
    padding-right: 5px;
    position: relative;
}

.right-panel {
    width: 40%;
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    overflow-y: auto;
    overflow-x: hidden;
}

.input-container {
    display: grid;
    grid-template-columns: auto 1fr;
    color: #ff8d00;
    font-family: 'MAGI-Matisse', sans-serif;
    column-gap: 10px;
    row-gap: 5px;
    margin-top: 15px;
    position: absolute;
    bottom: 5px;
    left: 0px;
    right: 5px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.9);
    border: 2px solid #ff8d00;
    z-index: 100;
    align-items: center;
}

.input-container>input {
    background: #1f1203;
    border: 2px solid #ff8d00;
    color: #ff8d00;
    font-family: monospace;
    height: 40px;
}
